*{
    padding: 0;
    margin: 0;
}

.head{
    background-image: url("./download.jpg");
    background-size: cover;
    height: 170px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.menu{
    background-color: lightgray;
    list-style: none;
    margin-top: 0px;
    padding-top: 0px;
    height: 35px;
    
    
}

.para{
    width: 400px;
}
.list{
    display: inline-block;
    padding-right: 40px;
padding-top: 10px;    
font-size: 20px;
}


   
.main{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.display{
    width: 400px;
}

.main2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.para2{
    width: 400px;
}

.display2{
    width: 400px;
}

.link1{
    font-size: 25px;
    color: pink;
}

.links{
    font-size: 15px;
    color: pink;
    padding-top: 15px;
}

.sub{
    color: pink;
    padding-bottom: 15px;
}

.foot{
    height: 40px;
    border: 1px solid gray;
    background-color: gray;
    font-size: 15px;
    
}

.foot-1{
    padding-top: 10px;
}